<!doctype html>
<html class="index-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>重庆时时彩</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="msapplication-tap-highlight" content="no">
    <script src="../../Conent/Scripts/fixScreen.js"></script>
    <link rel="stylesheet" href="../../Conent/Fonts/Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Conent/Tools/swiper/swiper.min.css">
    <link rel="stylesheet" href="../../Conent/Tools/animated/animate.min.css">
    <link rel="stylesheet" href="../../Conent/Styles/common.css">
</head>
<body>
<div class="root">
    <div class="navbar">
        <div class="navbar-inner navbar-previous" aria-hidden="true">
            <div class="left">
                <a href="javascript:;" class="back">
                    <i class="fa fa-angle-left"></i>
                </a>
            </div>
            <div class="title sliding">重庆时时彩</div>
            <div class="right"></div>
        </div>
    </div>

    <div class="page">
        <div class="page-content hasOperate">
            <div class="color-white f-fs024">
                <div class="index-play-hd">
                    <div class="f-cb" style="margin: 0.2rem 0.27rem;">
                        <div class="item f-fl">
                            <div>20180201053期</div>
                            <div class="f-mat10">封盘 <span class="f-fs028">00：00：45</span></div>
                            <div class="f-mat10">开奖 <span class="f-fs028">00：00：45</span></div>
                        </div>
                        <div class="item item2 f-fl">
                            <div>20180201052期</div>
                            <div class="f-mat10">
                                <span class="index-corn">6</span>
                                <span class="index-corn">4</span>
                                <span class="index-corn">2</span>
                                <span class="index-corn">9</span>
                                <span class="index-corn">7</span>
                            </div>
                            <div class="f-mat10">
                                <span class="index-tag">28</span>
                                <span class="index-tag">大</span>
                                <span class="index-tag">双</span>
                                <span class="index-tag">虎</span>
                                <span class="index-tag">杂六</span>
                                <span class="index-tag">杂六</span>
                                <span class="index-tag">杂六</span>
                                <span class="icon-index-parrow"></span>
                            </div>
                        </div>
                    </div>
                    <div class="index-play-hd-after">
                        <table class="index-table">
                            <thead>
                            <tr>
                                <th class="f-tal">期数</th>
                                <th>开奖号码</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>051期</td>
                                <td>
                                    <span class="index-corn">6</span>
                                    <span class="index-corn">4</span>
                                    <span class="index-corn">2</span>
                                    <span class="index-corn">9</span>
                                    <span class="index-corn">7</span>
                                </td>
                                <td>
                                    <span class="index-tag">28</span>
                                    <span class="index-tag">大</span>
                                    <span class="index-tag">双</span>
                                    <span class="index-tag">虎</span>
                                    <span class="index-tag">杂六</span>
                                    <span class="index-tag">杂六</span>
                                    <span class="index-tag">杂六</span>
                                </td>
                            </tr>
                            <tr>
                                <td>050期</td>
                                <td>
                                    <span class="index-corn">6</span>
                                    <span class="index-corn">4</span>
                                    <span class="index-corn">2</span>
                                    <span class="index-corn">9</span>
                                    <span class="index-corn">7</span>
                                </td>
                                <td>
                                    <span class="index-tag">28</span>
                                    <span class="index-tag">大</span>
                                    <span class="index-tag">双</span>
                                    <span class="index-tag">虎</span>
                                    <span class="index-tag">杂六</span>
                                    <span class="index-tag">杂六</span>
                                    <span class="index-tag">杂六</span>
                                </td>
                            </tr>
                            <tr>
                                <td>049期</td>
                                <td>
                                    <span class="index-corn">6</span>
                                    <span class="index-corn">4</span>
                                    <span class="index-corn">2</span>
                                    <span class="index-corn">9</span>
                                    <span class="index-corn">7</span>
                                </td>
                                <td>
                                    <span class="index-tag">28</span>
                                    <span class="index-tag">大</span>
                                    <span class="index-tag">双</span>
                                    <span class="index-tag">虎</span>
                                    <span class="index-tag">杂六</span>
                                    <span class="index-tag">杂六</span>
                                    <span class="index-tag">杂六</span>
                                </td>
                            </tr>
                            <tr>
                                <td>048期</td>
                                <td>
                                    <span class="index-corn">6</span>
                                    <span class="index-corn">4</span>
                                    <span class="index-corn">2</span>
                                    <span class="index-corn">9</span>
                                    <span class="index-corn">7</span>
                                </td>
                                <td>
                                    <span class="index-tag">28</span>
                                    <span class="index-tag">大</span>
                                    <span class="index-tag">双</span>
                                    <span class="index-tag">虎</span>
                                    <span class="index-tag">杂六</span>
                                    <span class="index-tag">杂六</span>
                                    <span class="index-tag">杂六</span>
                                </td>
                            </tr>
                            <tr>
                                <td>047期</td>
                                <td>
                                    <span class="index-corn">6</span>
                                    <span class="index-corn">4</span>
                                    <span class="index-corn">2</span>
                                    <span class="index-corn">9</span>
                                    <span class="index-corn">7</span>
                                </td>
                                <td>
                                    <span class="index-tag">28</span>
                                    <span class="index-tag">大</span>
                                    <span class="index-tag">双</span>
                                    <span class="index-tag">虎</span>
                                    <span class="index-tag">杂六</span>
                                    <span class="index-tag">杂六</span>
                                    <span class="index-tag">杂六</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="index-play-selitem f-cb">
                    <div class="f-fl">
                        <div class="play-sel-select">
                            <div class="name">
                                <span class="f-ib" style="margin-right: 0.15rem;">全部</span>
                                <span class="icon-index-yarrow"></span>
                            </div>
                            <div class="select-menu">
                                <ul>
                                    <li><a href="javascript:;">全部</a></li>
                                    <li><a href="javascript:;">总和</a></li>
                                    <li><a href="javascript:;">龙虎合</a></li>
                                    <li><a href="javascript:;">三位</a></li>
                                    <li><a href="javascript:;">位数</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="f-fr">
                        <div class="play-sel-select">
                            <div class="name">
                                <span class="f-ib" style="margin-right: 0.15rem;">助手</span>
                                <span class="icon-index-yarrow"></span>
                            </div>
                            <div class="select-menu">
                                <ul>
                                    <li><a href="javascript:;">开奖结果</a></li>
                                    <li><a href="javascript:;">走势图</a></li>
                                    <li><a href="javascript:;">玩法说明</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="index-play-bd">

                    <div class="index-play-item f-cb">
                        <div class="inte-play-item-label">

                        </div>
                        <div class="inte-play-item-ctn"></div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="page-operate">
        <div class="f-ib" style="margin-right: 0.2rem;">金额</div>
        <div class="f-ib">
            <input type="number">
        </div>
        <div class="f-ib">
            <a href="javascript:;" class="my-btn-orange lager" style="height: 0.6rem;">确认</a>
        </div>
        <div class="f-ib f-pr">
            <span class="page-operate-tip"></span>
            <a href="javascript:;" class="my-btn-purple lager">重置</a>
        </div>
    </div>
</div>

<script src="../../Conent/Tools/zepto/zepto.min.js"></script>
<script src="../../Conent/Tools/swiper/swiper.min.js"></script>
<script src="../../Conent/Scripts/common.js"></script>
<script src="../../Conent/Scripts/hall/cqssc.js"></script>
</body>
</html>