<!doctype html>
<html class="specil-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="msapplication-tap-highlight" content="no">
    <script src="../../Conent/Scripts/fixScreen.js"></script>
    <link rel="stylesheet" href="../../Conent/Fonts/Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Conent/Tools/dialog2/css/dialog.css">
    <link rel="stylesheet" href="../../Conent/Styles/common.css">
</head>
<body>
<div class="root">
    <div class="navbar">
        <div class="navbar-inner navbar-previous" aria-hidden="true">
            <div class="left">
                <a href="javascript:;" class="back">
                    <i class="fa fa-angle-left"></i>
                </a>
            </div>
            <div class="title sliding">修改密码</div>
            <div class="right"></div>
        </div>
    </div>

    <div class="page">
        <div class="page-content">
            <form class="login" style="margin-top: 0.85rem;">
                <div class="login-item">
                    <i class="icon-lock login-item-icon"></i>
                    <input class="login-input" type="password" name="yspassword" placeholder="请输入原登录密码">
                </div>
                <div class="login-item">
                    <i class="icon-lock login-item-icon"></i>
                    <input class="login-input" type="password" name="password" placeholder="请输入8-20位数字和字母组合">
                </div>
                <div class="login-item">
                    <i class="icon-lock login-item-icon"></i>
                    <input class="login-input" type="password" name="password2" placeholder="请再次输入密码">
                </div>
                <div class="login-item">
                    <button type="button" class="login-btn" id="submit">确认修改</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="../../Conent/Tools/zepto/zepto.min.js"></script>
<script src="../../Conent/Tools/dialog2/dialog.min.js"></script>
<script src="../../Conent/Scripts/common.js"></script>
<script src="../../Conent/Scripts/userlogin/editLoginPw.js"></script>
</body>
</html>