<!doctype html>
<html class="specil-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>中博全球</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="msapplication-tap-highlight" content="no">
    <script src="../../Conent/Scripts/fixScreen.js"></script>
    <link rel="stylesheet" href="../../Conent/Fonts/Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Conent/Styles/common.css">
</head>
<body>
<div class="root">
    <div class="navbar">
        <div class="navbar-inner navbar-previous" aria-hidden="true">
            <div class="left"></div>
            <div class="title sliding">中博全球</div>
            <div class="right"></div>
        </div>
    </div>

    <div class="page">
        <div class="page-content hasFooter">

        </div>
    </div>

    <div class="footer">
        <a>
            <div>图标</div>
            <div>游戏大厅</div>
        </a>
        <a>
            <div>图标</div>
            <div>开奖</div>
        </a>
        <a>
            <div>图标</div>
            <div>我的</div>
        </a>
    </div>
</div>

<script src="../../Conent/Tools/zepto/zepto.min.js"></script>
<script src="../../Conent/Scripts/common.js"></script>
<script src="../../Conent/Scripts/hall/index.js"></script>
</body>
</html>