<!doctype html>
<html class="index-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>中博全球</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="msapplication-tap-highlight" content="no">
    <script src="../../Conent/Scripts/fixScreen.js"></script>
    <link rel="stylesheet" href="../../Conent/Fonts/Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Conent/Tools/swiper/swiper.min.css">
    <link rel="stylesheet" href="../../Conent/Styles/common.css">
</head>
<body>
<div class="root">
    <div class="navbar">
        <div class="navbar-inner navbar-previous" aria-hidden="true">
            <div class="left"></div>
            <div class="title sliding">中博全球</div>
            <div class="right"></div>
        </div>
    </div>

    <div class="page">
        <div class="page-content hasFooter">
            <div>
                <div>
                    <div class="swiper-container" style="height: 1.96rem;">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <a href="javascript:;">
                                    <img src="../../Conent/Images/temp/banner01.png" alt="">
                                </a>
                            </div>
                            <div class="swiper-slide" style="background: #000;">Slide 2</div>
                            <div class="swiper-slide" style="background: #F00;">Slide 3</div>
                            <div class="swiper-slide" style="background: green;">Slide 4</div>
                            <div class="swiper-slide" style="background: blue;">Slide 5</div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="index-notice">
                    <i class="icon-index-voice"></i>
                    <a href="javascript:;" class="f-ib">投注限制公告</a>
                </div>

                <div class="index-fnc f-cb">
                    <a class="item" href="javascript:;">
                        <div>
                            <i class="icon-index-topup"></i>
                        </div>
                        <div class="name">充值</div>
                    </a>
                    <a class="item" href="javascript:;">
                        <div>
                            <i class="icon-index-record"></i>
                        </div>
                        <div class="name">实时中奖</div>
                    </a>
                    <a class="item" href="javascript:;">
                        <div>
                            <i class="icon-index-activi"></i>
                        </div>
                        <div class="name">平台福利</div>
                    </a>
                    <a class="item" href="javascript:;">
                        <div>
                            <i class="icon-index-contact"></i>
                        </div>
                        <div class="name">联系客服</div>
                    </a>
                </div>

                <div class="index-prolist">
                    <div class="item">
                        <div class="pic">
                            <img src="../../Conent/Images/cqssc.png" alt="">
                            <div class="info">
                                <div>距离</div>
                                <div class="date1">20180201039期</div>
                                <div>截止还有</div>
                                <div class="date2">00:04:47</div>
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="pic">
                            <img src="../../Conent/Images/bjsc.png" alt="">
                            <div class="info">
                                <div>距离</div>
                                <div class="date1">664815期</div>
                                <div>截止还有</div>
                                <div class="date2">00:04:47</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="footer">
        <a class="item">
            <div class="pic"><i class="icon-footer-ngame"></i></div>
            <div class="name">游戏大厅</div>
        </a>
        <a class="item">
            <div class="pic"><i class="icon-footer-ncup"></i></div>
            <div class="name">开奖</div>
        </a>
        <a class="item">
            <div class="pic"><i class="icon-footer-nmy"></i></div>
            <div class="name">我的</div>
        </a>
    </div>
</div>

<script src="../../Conent/Tools/zepto/zepto.min.js"></script>
<script src="../../Conent/Tools/swiper/swiper.min.js"></script>
<script src="../../Conent/Scripts/common.js"></script>
<script src="../../Conent/Scripts/hall/index.js"></script>
</body>
</html>