<!doctype html>
<html class="specil-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="msapplication-tap-highlight" content="no">
    <script src="../../Conent/Scripts/fixScreen.js"></script>
    <link rel="stylesheet" href="../../Conent/Fonts/Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Conent/Styles/common.css">
</head>
<body>
<div class="root">
    <div class="navbar">
        <div class="navbar-inner navbar-previous" aria-hidden="true">
            <div class="left"></div>
            <div class="title sliding">我的</div>
            <div class="right"></div>
        </div>
    </div>

    <div class="page">
        <div class="page-content hasFooter">

        </div>
    </div>

    <div class="footer">
        <a class="item">
            <div class="pic"><i class="icon-footer-ngame"></i></div>
            <div class="name">游戏大厅</div>
        </a>
        <a class="item">
            <div class="pic"><i class="icon-footer-ncup"></i></div>
            <div class="name">开奖</div>
        </a>
        <a class="item active">
            <div class="pic"><i class="icon-footer-nmy"></i></div>
            <div class="name">我的</div>
        </a>
    </div>
</div>

<script src="../../Conent/Tools/zepto/zepto.min.js"></script>
<script src="../../Conent/Scripts/common.js"></script>
<script src="../../Conent/Scripts/my/my.js"></script>
</body>
</html>