<!doctype html>
<html class="specil-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>账户信息</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="msapplication-tap-highlight" content="no">
    <script src="../../Conent/Scripts/fixScreen.js"></script>
    <link rel="stylesheet" href="../../Conent/Fonts/Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Conent/Tools/animated/animate.min.css">
    <link rel="stylesheet" href="../../Conent/Styles/common.css">
</head>
<body>
<div class="root">
    <div class="navbar">
        <div class="navbar-inner navbar-previous" aria-hidden="true">
            <div class="left">
                <a href="javascript:;" class="back">
                    <i class="fa fa-angle-left"></i>
                </a>
            </div>
            <div class="title sliding">账户信息</div>
            <div class="right"></div>
        </div>
    </div>

    <div class="page">
        <div class="page-content">
            <div class="list links-list">
                <ul>
                    <li>
                        <a href="javascript:;" class="item-content nolink">
                            <span>头像</span>
                            <span style="width: 0.5rem;height: 0.5rem;border-radius: 100%;overflow:hidden;">
                                <img src="../../Conent/Images/temp/attr.png" alt="">
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="item-content nolink">
                            <span>编号</span>
                            <span>80076546</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="item-content nolink">
                            <span>编号</span>
                            <span>80076546</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="item-content nolink">
                            <span>昵称</span>
                            <span>um80076546</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="item-content nolink">
                            <span>账号</span>
                            <span>13455456781</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="item-content nolink">
                            <span>资金密码</span>
                            <span>
                                <span class="link">修改</span>
                                <span>/</span>
                                <span class="link">忘记</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="item-content nolink">
                            <span>登录密码</span>
                            <span>
                                <span class="link">修改</span>
                                <span>/</span>
                                <span class="link">忘记</span>
                            </span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="item-content item-link">
                            <span>绑定银行卡</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;" class="item-content nolink">
                            <span class="link">清除缓存（48Kb）</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script src="../../Conent/Tools/zepto/zepto.min.js"></script>
<script src="../../Conent/Scripts/common.js"></script>
<script src="../../Conent/Scripts/my/accountInfo.js"></script>
</body>
</html>