<!doctype html>
<html class="specil-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>平台公告</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="msapplication-tap-highlight" content="no">
    <script src="../../Conent/Scripts/fixScreen.js"></script>
    <link rel="stylesheet" href="../../Conent/Fonts/Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Conent/Styles/common.css">
</head>
<body>
<div class="root">
    <div class="navbar">
        <div class="navbar-inner navbar-previous" aria-hidden="true">
            <div class="left">
                <a href="javascript:;" class="back">
                    <i class="fa fa-angle-left"></i>
                </a>
            </div>
            <div class="title sliding">平台公告</div>
            <div class="right"></div>
        </div>
    </div>

    <div class="page">
        <div class="page-content">
            <div>
                <div class="my-notice-list">
                    <div class="item f-cb color-cus">
                        <div class="f-fl">
                            <span class="f-fs030">春节暂运营通知</span>
                        </div>
                        <div class="f-fr">
                            2018/01/10-2018/02/27
                        </div>
                    </div>
                    <div class="item f-cb color-cus">
                        <div class="f-fl">
                            <span class="f-fs030">春节暂运营通知</span>
                        </div>
                        <div class="f-fr">
                            2018/01/10-2018/02/27
                        </div>
                    </div>
                    <div class="item f-cb color-cus">
                        <div class="f-fl">
                            <span class="f-fs030">春节暂运营通知</span>
                            <i class="my-icon-ysx" style="position: absolute;left: 2.1rem;top: 0.15rem;"></i>
                        </div>
                        <div class="f-fr">
                            2018/01/10-2018/02/27
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="../../Conent/Tools/zepto/zepto.min.js"></script>
<script src="../../Conent/Scripts/common.js"></script>
<script src="../../Conent/Scripts/my/platformNotice.js"></script>
</body>
</html>