<!doctype html>
<html class="specil-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>出入流水</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="msapplication-tap-highlight" content="no">
    <script src="../../Conent/Scripts/fixScreen.js"></script>
    <link rel="stylesheet" href="../../Conent/Fonts/Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Conent/Styles/common.css">
</head>
<body>
<div class="root">
    <div class="navbar">
        <div class="navbar-inner navbar-previous" aria-hidden="true">
            <div class="left">
                <a href="javascript:;" class="back">
                    <i class="fa fa-angle-left"></i>
                </a>
            </div>
            <div class="title sliding">出入流水</div>
            <div class="right"></div>
        </div>
    </div>

    <div class="page">
        <div class="page-content">
            <div style="margin: 0 0.24rem;">
                <table class="my-table">
                    <thead>
                    <tr>
                        <th>类型</th>
                        <th>时间</th>
                        <th>金额</th>
                        <th>状态</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>充值</td>
                            <td>2018-01-01 23：11</td>
                            <td>20.00</td>
                            <td>成功</td>
                        </tr>
                        <tr>
                            <td>充值</td>
                            <td>2018-01-01 23：11</td>
                            <td>20.00</td>
                            <td>成功</td>
                        </tr>
                        <tr>
                            <td>充值</td>
                            <td>2018-01-01 23：11</td>
                            <td>20.00</td>
                            <td>成功</td>
                        </tr>
                        <tr>
                            <td>充值</td>
                            <td>2018-01-01 23：11</td>
                            <td>20.00</td>
                            <td>成功</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="../../Conent/Tools/zepto/zepto.min.js"></script>
<script src="../../Conent/Scripts/common.js"></script>
<script src="../../Conent/Scripts/my/runWater.js"></script>
</body>
</html>