<!doctype html>
<html class="specil-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>中奖纪录</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="msapplication-tap-highlight" content="no">
    <script src="../../Conent/Scripts/fixScreen.js"></script>
    <link rel="stylesheet" href="../../Conent/Fonts/Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Conent/Styles/common.css">
</head>
<body>
<div class="root">
    <div class="navbar">
        <div class="navbar-inner navbar-previous" aria-hidden="true">
            <div class="left">
                <a href="javascript:;" class="back">
                    <i class="fa fa-angle-left"></i>
                </a>
            </div>
            <div class="title sliding">中奖纪录</div>
            <div class="right"></div>
        </div>
    </div>

    <div class="page">
        <div class="page-content">
            <div style="margin: 0 0.24rem;">
                <table class="my-table">
                    <thead>
                        <tr>
                            <th>期号</th>
                            <th>下注明细</th>
                            <th>下注金额</th>
                            <th>中奖金额</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <div>重庆时时彩</div>
                                <div>20180205076</div>
                            </td>
                            <td>
                                <div>和：9</div>
                                <div>个位：单</div>
                                <div>个位：小</div>
                            </td>
                            <td>
                                <div>20.00</div>
                                <div>20.00</div>
                                <div>20.00</div>
                            </td>
                            <td>
                                <div class="color-danger">+20.00</div>
                                <div class="color-danger">+20.00</div>
                                <div class="color-danger">+20.00</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>重庆时时彩</div>
                                <div>20180205076</div>
                            </td>
                            <td>
                                <div>和：9</div>
                                <div>个位：单</div>
                                <div>个位：小</div>
                            </td>
                            <td>
                                <div>20.00</div>
                                <div>20.00</div>
                                <div>20.00</div>
                            </td>
                            <td>
                                <div class="color-danger">+20.00</div>
                                <div class="color-danger">+20.00</div>
                                <div class="color-danger">+20.00</div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div>重庆时时彩</div>
                                <div>20180205076</div>
                            </td>
                            <td>
                                <div>和：9</div>
                                <div>个位：单</div>
                                <div>个位：小</div>
                            </td>
                            <td>
                                <div>20.00</div>
                                <div>20.00</div>
                                <div>20.00</div>
                            </td>
                            <td>
                                <div class="color-danger">+20.00</div>
                                <div class="color-danger">+20.00</div>
                                <div class="color-danger">+20.00</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script src="../../Conent/Tools/zepto/zepto.min.js"></script>
<script src="../../Conent/Scripts/common.js"></script>
<script src="../../Conent/Scripts/my/winningRecord.js"></script>
</body>
</html>