<!doctype html>
<html class="specil-bg" lang="en">
<head>
    <meta charset="UTF-8">
    <title>提现</title>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta name="msapplication-tap-highlight" content="no">
    <script src="../../Conent/Scripts/fixScreen.js"></script>
    <link rel="stylesheet" href="../../Conent/Fonts/Awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../Conent/Tools/animated/animate.min.css">
    <link rel="stylesheet" href="../../Conent/Styles/common.css">
</head>
<body>
<div class="root">
    <div class="navbar">
        <div class="navbar-inner navbar-previous" aria-hidden="true">
            <div class="left">
                <a href="javascript:;" class="back">
                    <i class="fa fa-angle-left"></i>
                </a>
            </div>
            <div class="title sliding">提现</div>
            <div class="right"></div>
        </div>
    </div>

    <div class="page">
        <div class="page-content">
            <div style="margin: 0 0.24rem 0.3rem 0.24rem;">
                <div class="my-with-hd">
                    <div class="item f-cb">
                        <div class="f-fl">
                            <div class="f-ib">到账账户：</div>
                            <div class="f-ib">您绑定的银行账户</div>
                        </div>
                    </div>
                    <div class="item f-cb">
                        <div class="f-fl">
                            <div class="f-ib">提现金额：</div>
                            <div class="f-ib">
                                <input type="number" placeholder="请输入您要提现的金额">
                            </div>
                        </div>
                    </div>
                    <div class="item f-cb">
                        <div class="f-fl">
                            <div class="f-ib">资金密码：</div>
                            <div class="f-ib">
                                <input type="text" id="showMonetyPasswordModal" placeholder="请输入您的支付密码" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="item f-cb f-fs020">
                        <div class="f-fl">可提现金额：1000元</div>
                        <div class="f-fr">提现手续费2%</div>
                    </div>
                </div>
                <button type="button" class="login-btn" id="submit">确认提现</button>
                <div class="color-white f-fs020" style="margin-top: 0.6rem;">
                    <div>1. 提现金额不能超出“可提现金额”</div>
                    <div>2. 每笔提现收取提现金额的2%作为手续费，提现手续费从余额中扣取</div>
                    <div>3. 若出现提现金额未到账，请<a href="javascript:;" class="link f-unline f-sits">联系平台客服</a></div>
                </div>
            </div>
        </div>
    </div>

    <div class="f-mask animated" id="fmask"></div>
    <div class="momey-password" id="myOpt">
        <div class="my-op-item color-cus f-fs020">退出后不会删除任何历史数据，下次登录依然可以使用本账号</div>
        <div class="my-op-item" id="sureToOut">
            <a href="javascript:;" class="link">安全退出</a>
        </div>
        <div class="my-op-item" id="myOptCancle" style="margin-top: 0.3rem;">
            <a href="javascript:;" class="color-cus">取消</a>
        </div>
    </div>
</div>

<script src="../../Conent/Tools/zepto/zepto.min.js"></script>
<script src="../../Conent/Scripts/common.js"></script>
<script src="../../Conent/Scripts/moneyPassword.js"></script>
<script src="../../Conent/Scripts/my/withdrawal.js"></script>
</body>
</html>